<li class="case">
    <span class="case__header">
        <div class="case__main">
            <a href="" class="case__name">@@case_name</a>
            <div class="case__main-row">
                <a href="" class="case__position">@@position</a>
                @@if(status==='closed'){
                <span class="case__status success">Вопрос закрыт</span>
                }
                @@if(status==='wait'){
                <span class="case__status wait">Ожидает ответа</span>
                }
                @@if(status==='open'){
                <span class="case__status open">Открыт</span>
                }
            </div>
        </div>
        <div class="case__side">
            <div class="case__price">@@price</div>
            <a href="" class="case__answers">@@answers</a>
        </div>
    </span>
    <span class="case__body">
        <span class="case__column">
            <a href="" class="case__person">
                <span class="case__person-thumb">
                    <img src="@@person_image" alt="Аватар пользователя">
                </span>
                <span class="case__person-name">@@person_name</span>
            </a>
            <time datetime="2024-10-28" class="case__time">@@date</time>
        </span>
        @@if (doctors.length > 0 && doctors.length < 5) { <span class="case__doctors">
            @@for (var i = 0; i < doctors.length; i++) { <span class="case__doctor"><img src="`+doctors[i]+`" class="cover-image" alt="Фото доктора"></span>}
    </span>
    }
    @@if (doctors.length > 4) {
    <span class="case__doctors">
        <span class="case__more">
            <span class="case__more-btn">
                +3
            </span>
            <span class="case__more-body">
                @@for (var i = 4; i < 7; i++) { <span class="case__doctor"><img src="`+doctors[i]+`" class="cover-image" alt="Фото доктора"></span>}
        </span>
    </span>
    @@for (var i = 0; i < 4; i++) { <span class="case__doctor"><img src="`+doctors[i]+`" class="cover-image" alt="Фото доктора"></span>}
        </span>
        }
        </span>
</li>