<li class="case">
    <span class="case__header">
        <div class="case__row">
            <a href="" class="case__name">@@case_name</a>
            <div class="case__side">
                <div class="case__price">@@price</div>
                <a href="" class="case__answers">@@answers</a>
            </div>
        </div>
        <div class="case__main">
            <div class="case__main-row">
                <a href="" class="case__position">@@position</a>
                @@if(status==='closed'){
                <span class="case__status success">Вопрос закрыт</span>
                }
                @@if(status==='wait'){
                <span class="case__status wait">Ожидает ответа</span>
                }
                @@if(status==='open'){
                <span class="case__status open">Открыт</span>
                }
            </div>
            <a href="" class="case__answers">@@answers</a>
        </div>
    </span>
    <div class="case__body">
        <div class="case__column">
            <a href="" class="case__person">
                <span class="case__person-thumb">
                    <img src="@@person_image" alt="Аватар пользователя">
                </span>
                <span class="case__person-name">@@person_name</span>
            </a>
            <time datetime="2024-10-28" class="case__time">@@date</time>
        </div>
        @@if (doctors===4){
        <div class="case__doctors">
            <div class="case__doctor">
                <img src="@img/doctors/doctor-1.jpg" class="cover-image" alt="Фото доктора">
            </div>
            <div class="case__doctor">
                <img src="@img/doctors/doctor-2.jpg" class="cover-image" alt="Фото доктора">
            </div>
            <div class="case__doctor">
                <img src="@img/doctors/doctor-3.jpg" class="cover-image" alt="Фото доктора">
            </div>
            <div class="case__doctor">
                <img src="@img/doctors/doctor-1.jpg" class="cover-image" alt="Фото доктора">
            </div>
        </div>
        }
        @@if (doctors===3){
        <div class="case__doctors">
            <div class="case__doctor">
                <img src="@img/stub-doctor-sm.svg" class="cover-image" alt="Фото доктора">
            </div>
            <div class="case__doctor">
                <img src="@img/doctors/doctor-3.jpg" class="cover-image" alt="Фото доктора">
            </div>
            <div class="case__doctor">
                <img src="@img/doctors/doctor-1.jpg" class="cover-image" alt="Фото доктора">
            </div>
        </div>
        }
        @@if (doctors===7){
        <div class="case__doctors">
            <div class="case__more">
                <button type="button" class="case__more-btn">
                    +3
                </button>
                <div class="case__more-body">
                    <div class="case__doctor">
                        <img src="@img/doctors/doctor-1.jpg" class="cover-image" alt="Фото доктора">
                    </div>
                    <div class="case__doctor">
                        <img src="@img/doctors/doctor-2.jpg" class="cover-image" alt="Фото доктора">
                    </div>
                    <div class="case__doctor">
                        <img src="@img/doctors/doctor-3.jpg" class="cover-image" alt="Фото доктора">
                    </div>
                </div>
            </div>
            <div class="case__doctor">
                <img src="@img/doctors/doctor-1.jpg" class="cover-image" alt="Фото доктора">
            </div>
            <div class="case__doctor">
                <img src="@img/doctors/doctor-2.jpg" class="cover-image" alt="Фото доктора">
            </div>
            <div class="case__doctor">
                <img src="@img/doctors/doctor-3.jpg" class="cover-image" alt="Фото доктора">
            </div>
            <div class="case__doctor">
                <img src="@img/doctors/doctor-1.jpg" class="cover-image" alt="Фото доктора">
            </div>
        </div>
        }
    </div>
</li>