.popup {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	background: rgba($color: $text, $alpha: 0.5);
	backdrop-filter: blur(rem(2));
	-webkit-backdrop-filter: blur(rem(2));
	align-content: center;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 1rem;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease, visibility 0.3s ease;
	cursor: pointer;
	&.open {
		opacity: 1;
		visibility: visible;
		.popup__body,
		.popup__picture {
			transform: scale(1);
		}
	}
	// .popup__body
	&__body {
		position: relative;
		max-width: 28.875rem;
		margin: auto;
		width: 100%;
		background: $white;
		border-radius: 1rem;
		padding: rem(20) 1rem;
		cursor: default;
		transform: scale(0);
		transition: transform 0.3s ease;
		@media (min-width: $md5) {
			padding: rem(24);
		}
	}
	// .popup__close
	&__close {
		position: absolute;
		top: 1rem;
		right: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 1.5rem;
		height: 1.5rem;
		font-size: 1.125rem;
		background: transparent;
		border-radius: 50%;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $red;
			}
		}
	}
	// .popup__picture
	&__picture {
		margin: auto;
		width: fit-content;
		cursor: default;
		transform: scale(0);
		transition: transform 0.3s ease;
	}

	// .popup__status
	&__status {
		width: 3.5rem;
		height: 3.5rem;
		font-size: 2rem;
		border-radius: 50%;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		background: $accent-10;
		color: $accent;
	}
	// .popup__title
	&__title {
		&.text-center {
			max-width: 16.625rem;
			margin-left: auto;
			margin-right: auto;
		}
		&:not(:first-child) {
			margin-top: 1.31rem;
		}
	}
	// .popup__btn
	&__btn {
		margin-top: 1.31rem;
	}
}

.login {
	// .login__title
	&__title {
	}
	// .login__subtitle
	&__subtitle {
		margin-top: 1.5rem;
		@media (min-width: $md5) {
			margin-top: 1rem;
		}
		color: $text-60;
		font-size: 0.875rem;
		line-height: 135%;
		& a {
			font-weight: 500;
			color: $accent;
			@media (any-hover: hover) {
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	// .login__socials
	&__socials {
		margin-top: 1.25rem;
	}
	// .login__socials-caption
	&__socials-caption {
		color: $text-60;
		font-size: 0.875rem;
		line-height: 135%;
	}
	// .login__socials-links
	&__socials-links {
		margin-top: 1.06rem;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 0.62rem;
	}
	// .login__socials-link
	&__socials-link {
		border-radius: 0.75rem;
		border: rem(1) solid $text-10;
		padding: 0.75rem;
		transition: background-color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				background: $text-10;
			}
		}
	}
	// .login__separator
	&__separator {
		font-size: 0.75rem;
		@media (min-width: $md5) {
			font-size: 0.875rem;
		}
		margin-top: 1rem;
		color: $text-60;
		line-height: 135%;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		&::before,
		&::after {
			content: "";
			width: 100%;
			height: rem(1);
			background: $text-10;
		}
	}
	// .login__form
	&__form {
		margin-top: 1rem;
		@media (min-width: $md5) {
			margin-top: 0.5rem;
		}
		display: flex;
		flex-direction: column;
	}
}
