.promo {
	// .promo__banner
	&__banner {
		color: #fff;
		border-radius: rem(12);
		padding: rem(20) rem(12) rem(24);
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url("@img/promo.jpg"), linear-gradient(90deg, #328ecc 0%, #3f8abe 80.36%);
		background-position: 65% 0;
		@media (min-width: $md5) {
			background-position: 100% 0;
			padding: rem(32) rem(32);
		}
		@media (min-width: $md1) {
			padding: rem(54) rem(56);
		}
		&.sm-banner {
			@media (min-width: $md5) {
				background-position: calc(100% + rem(100)) bottom, 0 0;
			}
			@media (min-width: $md3) {
				background-position: calc(100% + rem(15)) bottom, 0 0;
			}
			.promo__banner-title {
				letter-spacing: normal;
				font-size: 1rem;
				@media (max-width: $md4) {
					max-width: 11.875rem;
				}
				@media (min-width: $md4) {
					font-size: 1.25rem;
				}
				@media (min-width: $md1) {
					font-size: 1.5rem;
				}
			}
			.promo__banner-offer {
				max-width: 100%;
				@media (min-width: $md4) {
					max-width: rem(360);
				}
				@media (min-width: $md1) {
					max-width: rem(520);
				}
			}
			.promo__banner-btn {
				margin-top: rem(18);
				@media (max-width: $md5) {
					width: 100%;
				}
				@media (min-width: $md3) {
					max-width: 18.9375rem;
				}
			}
			@media (min-width: $md1) {
				padding: rem(52) rem(32);
			}
		}
	}
	// .promo__banner-offer
	&__banner-offer {
		max-width: rem(200);
		@media (min-width: $md5) {
			max-width: rem(300);
		}
		@media (min-width: $md1) {
			max-width: rem(420);
		}
	}
	// .promo__banner-title
	&__banner-title {
		font-weight: 600;
		line-height: 125%;
		letter-spacing: em(0.02, 2);
		font-size: 1rem;
		@media (min-width: $md5) {
			font-size: 1.5rem;
		}
		@media (min-width: $md4) {
			font-size: 2rem;
		}
	}
	// .promo__banner-btn
	&__banner-btn {
		margin-top: rem(16);
		padding-inline: 1.25rem;
		border-radius: 0.625rem;
		min-height: rem(40);
		@media (min-width: $md5) {
			border-radius: 0.75rem;
			padding-block: rem(13);
			max-width: 14rem;
			width: 100%;
		}
		@media (min-width: $md3) {
			margin-top: rem(24);
			min-height: rem(48);
		}
		@media (min-width: $md1) {
			max-width: 18.9375rem;
		}
	}
	// .promo__banner-image
	&__banner-image {
	}
	// .promo__list
	&__list {
		margin-top: 0.75rem;
		display: grid;
		gap: 0.75rem;
		grid-template-columns: repeat(2, 1fr);
		@media (min-width: $md1) {
			grid-template-columns: repeat(4, 1fr);
		}
	}
	// .promo__item
	&__item {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		background: $white;
		padding: 0.9rem 0.75rem;
		border-radius: 0.75rem;
		@media (min-width: $md4) {
			border-radius: 1rem;
			padding: 1.94rem 0.25rem 1.94rem 1.25rem;
		}
	}
	// .promo__item-num
	&__item-num {
		font-size: 1.5rem;
		@media (min-width: $md5) {
			font-size: 1.75rem;
		}
		@media (min-width: $md4) {
			font-size: 2.25rem;
		}
		font-weight: 600;
		line-height: 100%;
	}
	// .promo__item-desc
	&__item-desc {
		margin-top: 0.25rem;
		font-size: 1rem;
		font-weight: 500;
		line-height: 135%;
	}
}

.cases {
	// .cases__search
	&__search {
		position: relative;
		.form__control {
			background: #fff;
		}
	}
	// .cases__search-btn
	&__search-btn {
		position: absolute;
		width: 1.5rem;
		height: 1.5rem;
		font-size: 1.5rem;
		top: 50%;
		transform: translateY(-50%);
		right: 1rem;
	}
	// .cases__header
	&__header {
		&:not(:first-child) {
			margin-top: 1.5rem;
		}
		display: flex;
		flex-direction: column;
		gap: rem(20);
		@media (min-width: $md5) {
			justify-content: space-between;
			align-items: center;
			flex-direction: row;
		}
	}
	// .cases__title
	&__title {
	}
	// .cases__btns
	&__btns {
		display: flex;
		gap: 0.5rem;
	}
	// .cases__btn
	&__btn {
		min-width: rem(128);
		flex: 1 1 auto;
		font-size: rem(12);
		@media (min-width: $md5) {
			font-size: 1rem;
			flex: 0 1 auto;
		}
		background: $white;
		color: $text;
		&:hover {
			background: $pink;
		}
		&:active,
		&.active {
			background: $grey;
			color: $white;
		}
	}
	// .cases__body
	&__body {
		margin-top: rem(12);
		@media (min-width: $md4) {
			margin-top: 1.5rem;
		}
	}
	// .cases__block
	&__block {
		display: none;
		&.active {
			display: block;
		}
	}
	// .cases__list
	&__list {
	}
	// .cases__more
	&__more {
		text-decoration: underline;
		display: block;
		color: $accent;
		width: fit-content;
		margin: 1rem auto 0;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
			}
		}
	}
}

.case {
	border-radius: 1rem;
	border: rem(1) solid $text-5;
	background: $white;
	transition: background-color 0.3s ease;
	padding: 1rem 1rem rem(12) 1rem;
	@media (min-width: $md4) {
		padding: 1.25rem 1.25rem rem(12) 1.25rem;
	}
	@media (any-hover: hover) {
		&:hover {
			background: #ebf4fa;
			.case__text-more {
				background: #ebf4fa;
			}
		}
	}
	&:not(:last-child) {
		margin-bottom: 0.75rem;
	}
	// .case__caption
	&__caption {
	}
	// .case__title
	&__title {
		display: inline;
		font-size: 2rem;
		line-height: 125%;
		letter-spacing: normal;
	}
	&__number {
		display: inline-flex;
		align-items: center;
		color: $text-80;
		font-size: 1rem;
		font-weight: 500;
		line-height: 135%;
	}
	// .case__header
	&__header {
		display: block;
		border-bottom: rem(1) solid $text-5;
		padding-bottom: 0.75rem;
		@media (min-width: $md5) {
			padding-bottom: 1rem;
		}
		.case__person-thumb {
			width: 1.5rem;
			height: 1.5rem;
		}
		.case__person-name {
			font-size: 0.875rem;
		}
	}
	&__row {
		display: flex;
		gap: 0.5rem;
		@media (min-width: $md4) {
			gap: 1rem;
		}
		.case__answers {
			margin-bottom: -100%;
			@media (max-width: $md4) {
				display: none;
			}
		}
	}
	// .case__main
	&__main {
		.case__answers {
			&:is(a) {
				@media (min-width: $md4) {
					display: none;
				}
			}
		}
	}
	// .case__name
	&__name {
		font-weight: 500;
		line-height: 125%;
		transition: color 0.3s ease;
		font-size: 1rem;
		flex: 1 1 auto;
		@media (min-width: $md4) {
			font-size: 1.25rem;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
	// .case__main
	&__main {
		margin-top: 0.63rem;
		display: flex;
		justify-content: space-between;
	}
	// .case__main-row
	&__main-row {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 0.62rem;
		@media (min-width: $md5) {
			gap: 1rem;
			flex-wrap: wrap;
			align-items: center;
			flex-direction: row;
		}
	}
	&__views {
		display: flex;
		align-items: center;
		gap: 0.25rem;
		color: $text-60;
		font-size: 0.875rem;
		line-height: 135%;
		&::before {
			font-size: 1.5rem;
		}
	}
	// .case__text
	&__text {
		position: relative;
		margin-top: 1rem;
		color: $grey;
		line-height: 135%;
		font-size: 0.875rem;
		@media (min-width: $md5) {
			font-size: 1rem;
		}
	}
	// .case__list
	&__list {
		margin-top: 1rem;
	}
	// .case__list-item
	&__list-item {
		display: flex;
		align-items: center;
		gap: 0.38rem;
		&:not(:last-child) {
			margin-bottom: 0.38rem;
		}
	}
	// .case__list-property
	&__list-property {
		font-size: 1rem;
		font-weight: 500;
		line-height: 135%;
	}
	// .case__list-value
	&__list-value {
		color: $text-80;
		font-size: 1rem;
		line-height: 135%;
	}
	// .case__text-more
	&__text-more {
		color: $accent;
		text-decoration: underline;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
			}
		}
	}
	// .case__author
	&__author {
		margin-top: 0.75rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .case__position
	&__position {
	}
	// .case__position
	&__position {
		color: $accent;
		background: $accent-10;
		font-size: 0.75rem;
		font-weight: 500;
		line-height: 135%;
		border-radius: rem(40);
		transition: background-color 0.3s ease, color 0.3s ease;
		padding: 0.27rem 0.5rem;
		@media (min-width: $md4) {
			padding: 0.37rem 0.75rem;
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: rgba($color: #328ecc, $alpha: 0.4);
				color: $white;
			}
		}
	}
	// .case__status
	&__status {
		color: $text-60;
		font-weight: 500;
		display: flex;
		align-items: center;
		gap: rem(6);
		font-size: 0.75rem;
		@media (min-width: $md5) {
			font-size: 0.875rem;
		}
		&::before {
			font-size: rem(20);
			width: rem(24);
			height: rem(24);
			display: flex;
			justify-content: center;
			align-items: center;
			align-self: flex-start;
			flex-shrink: 0;
			@extend %ic;
		}
		&.success {
			&::before {
				@extend .icon-check-circle;
				color: $green;
			}
		}
		&.wait {
			&::before {
				@extend .icon-clock;
				color: $orange;
			}
		}
		&.open {
			&::before {
				@extend .icon-lock;
				color: $text-60;
			}
		}
	}
	// .case__side
	&__side {
		text-align: right;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		align-self: flex-start;
	}
	// .case__price
	&__price {
		font-weight: 700;
		line-height: 125%;
		font-size: 1.25rem;
		@media (min-width: $md4) {
			font-size: 1.5rem;
		}
	}
	// .case__answers
	&__answers {
		background: $pink;
		font-weight: 500;
		line-height: 135%;
		border-radius: 0.5rem;
		white-space: nowrap;
		transition: background-color 0.3s ease, color 0.3s ease;
		font-size: 0.75rem;
		padding: 0.3rem 0.5rem;
		align-self: flex-start;
		@media (min-width: $md4) {
			margin-top: 0.44rem;
			padding: 0.26rem 0.5rem;
			font-size: 0.875rem;
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: #fa7a93;
				color: #fff;
			}
		}
	}
	// .case__body
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: rem(6);
		@media (min-width: $md4) {
			margin-top: 0.75rem;
		}
	}
	// .case__answer
	&__answer {
		padding-top: 1rem;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		@media (min-width: $md4) {
			gap: 2.62rem;
			flex-direction: row;
		}
		.case__person {
			flex-shrink: 0;
		}
	}

	// .case__answer-text
	&__answer-text {
		flex: 1 1 auto;
		font-size: 0.875rem;
		line-height: 135%;
	}
	// .case__person
	&__person {
		display: flex;
		align-items: center;
		transition: color 0.3s ease;
		gap: rem(6);
		@media (min-width: $md4) {
			gap: 0.5rem;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
		&.person-lg {
			.case__person-thumb {
				width: 2.75rem;
				height: 2.75rem;
			}
			.case__person-name {
				font-size: 1rem;
			}
		}
	}
	// .case__person-info
	&__person-info {
		display: flex;
		flex-direction: column;
	}
	// .case__person-thumb
	&__person-thumb {
		width: 1.5rem;
		height: 1.5rem;
		flex-shrink: 0;
		@media (min-width: $md5) {
			width: 1.75rem;
			height: 1.75rem;
		}

		&.online {
			position: relative;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				width: 0.625rem;
				height: 0.625rem;
				background: $green;
				border: rem(1) solid $white;
				border-radius: 50%;
			}
		}
		& img {
			border-radius: 50%;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	// .case__person-name
	&__person-name {
		font-weight: 500;
		line-height: 135%;
		font-size: 0.75rem;
		@media (min-width: $md5) {
			font-size: 1rem;
		}
	}
	&__person-position {
		color: $text-60;
		font-size: 0.875rem;
		line-height: 135%;
	}
	// .case__time
	&__time {
		color: $text-60;
		font-weight: 500;
		line-height: 135%;
		font-size: 0.625rem;
		margin-top: 0.38rem;
		display: inline-block;
		@media (min-width: $md5) {
			margin-top: 0.5rem;
			font-size: 0.75rem;
		}
	}
	// .case__doctors
	&__doctors {
		position: relative;
		z-index: 1;
		display: flex;
		align-items: center;
	}
	// .case__more
	&__more {
		position: relative;
		z-index: 11;
		margin-right: -0.75rem;
		@media (any-hover: hover) {
			&:hover {
				.case__more-btn {
					opacity: 0;
					visibility: hidden;
				}
				.case__more-body {
					opacity: 1;
					visibility: visible;
				}
			}
		}
		@media (hover: none) {
			&.visible {
				.case__more-btn {
					opacity: 0;
					visibility: hidden;
				}
				.case__more-body {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	// .case__more-btn
	&__more-btn {
		color: $accent;
		font-size: 0.75rem;
		font-weight: 500;
		line-height: 135%;
		width: 1.875rem;
		height: 1.875rem;
		flex-shrink: 0;
		background: #eaf4fa;
		border: rem(1.5) solid $white;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		transition: opacity 0.15s ease, visibility 0.15s ease;
	}
	// .case__more-body
	&__more-body {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: rem(14);
		display: flex;
		align-items: center;
		gap: rem(4);
		background: #ffe6eb;
		padding: rem(10) rem(12);
		border-radius: rem(12);
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.15s ease, visibility 0.15s ease;
		.case__doctor {
			&:not(:last-child) {
				margin-right: 0;
			}
		}
	}
	// .case__doctor
	&__doctor {
		width: 2rem;
		height: 2rem;
		@media (min-width: $md4) {
			width: 2.5rem;
			height: 2.5rem;
		}
		flex-shrink: 0;
		border-radius: 50%;
		border: rem(1.5) solid $white;
		& img {
			border-radius: 50%;
		}
		&:not(:last-child) {
			margin-right: -0.75rem;
		}
		@for $i from 1 through 10 {
			&:nth-child(#{$i}) {
				z-index: #{11 - $i};
			}
		}
	}
	&__bottom {
		margin-top: 1.25rem;
		display: flex;
		justify-content: space-between;
	}
}

.possibilities {
	// .possibilities__title
	&__title {
	}
	// .possibilities__list
	&__list {
		display: grid;
		gap: rem(12);
		margin-top: rem(20);
		@media (min-width: $md5) {
			margin-top: rem(24);
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: $md1) {
			grid-template-columns: repeat(3, 1fr);
		}
	}
	// .possibilities__mode
	&__mode {
		border-radius: 0.75rem;
		background: #fff;
		display: flex;
		flex-direction: column;
		&.paid {
			border: rem(1) solid rgba(250, 122, 147, 0.5);
			.possibilities__mode-title {
				background: $pink;
				color: #fa7a93;
			}
			.possibilities__mode-list {
				& li {
					&::before {
						background: $pink;
						color: #fa7a93;
					}
				}
			}
		}
		&.individual {
			border: rem(1) solid rgba(50, 142, 204, 0.4);
			.possibilities__mode-title {
				background: $accent-10;
				color: $accent;
			}
			.possibilities__mode-list {
				& li {
					&::before {
						background: $accent-10;
						color: $accent;
					}
				}
			}
		}
		&:last-child {
			&:nth-child(odd) {
				@media (min-width: $md5) {
					grid-column: span 2;
				}
				@media (min-width: $md1) {
					grid-column: auto;
				}
			}
		}
	}
	// .possibilities__mode-title
	&__mode-title {
		text-align: center;
		font-size: 1.25rem;
		font-weight: 500;
		line-height: 125%;
		padding: rem(10) 1rem;
		border-radius: 0.75rem 0.75rem 0 0;
		background: $text-10;
		color: $grey;
		min-height: rem(70);
		align-content: center;
	}
	// .possibilities__mode-body
	&__mode-body {
		padding: 1.25rem 0.9rem;
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
	}
	// .possibilities__mode-list
	&__mode-list {
		font-size: 0.875rem;
		line-height: 135%;
		@media (min-width: $md5) {
			flex: 0 1 12.25rem;
		}
		& li {
			display: flex;
			align-items: flex-start;
			gap: 0.5rem;
			&::before {
				@extend %ic, .icon-check;
				flex-shrink: 0;
				width: 1.5rem;
				height: 1.5rem;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				background: $white-bg;
				color: $grey;
			}
			&:not(:last-child) {
				margin-bottom: 0.75rem;
			}
		}
	}
	// .possibilities__mode-desc
	&__mode-desc {
		margin-top: 1.5rem;
		color: $text-60;
		font-size: 0.875rem;
		line-height: 135%;
		margin-bottom: auto;
	}
	// .possibilities__mode-price
	&__mode-price {
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 125%;
		margin-top: 1.5rem;
		text-align: center;
		@media (min-width: $md5) {
			text-align: left;
			margin-top: 2.25rem;
		}
	}
	// .possibilities__mode-btn
	&__mode-btn {
		margin-top: rem(10);
		@media (min-width: $md5) {
			margin-top: 0.75rem;
		}
		min-height: rem(44);
	}
}

.doctors {
	// .doctors__title
	&__title {
	}
	// .doctors__list
	&__list {
		margin-top: 1.25rem;
		@media (min-width: $md5) {
			margin-top: 1.5rem;
		}
		display: flex;
		flex-direction: column;
		gap: rem(13);
	}
}

.reviews {
	display: flex;
	flex-direction: column;

	// .reviews__header
	&__header {
		display: contents;
		@media (min-width: $md5) {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
	// .reviews__main
	&__main {
	}
	// .reviews__title
	&__title {
	}
	// .reviews__total
	&__total {
		display: flex;
		align-items: center;
		color: $text-80;
		font-size: 1.125rem;
		line-height: 100%;
		margin-top: 1.15rem;
		gap: rem(12);
		@media (min-width: $md5) {
			gap: 1rem;
			margin-top: 1rem;
		}
	}
	// .reviews__total-value
	&__total-value {
	}
	// .reviews__total-quantity
	&__total-quantity {
	}
	// .reviews__controls
	&__controls {
		order: 1;
		display: flex;
		justify-content: center;
		gap: rem(10);
		margin-top: rem(12);
		@media (min-width: $md5) {
			margin-top: 0;
		}
	}
	// .reviews__prev
	&__prev {
	}
	// .reviews__next
	&__next {
	}
	// .reviews__slider
	&__slider {
		margin-top: 1.5rem;
		min-width: 0;
		max-width: 100%;
		overflow: visible;
		@media (min-width: $md5) {
			overflow: hidden;
		}
	}
}

.review {
	border-radius: 1rem;
	border: rem(1) solid $text-5;
	background: $white;
	transition: background-color 0.3s ease;
	padding: 0.75rem 1rem;
	height: auto;

	@media (any-hover: hover) {
		&:hover {
			background: #ebf4fa;
		}
	}
	// .review__stars
	&__stars {
		display: flex;
		gap: 0.125rem;
		align-items: center;
	}
	// .review__star
	&__star {
		color: $grey;
		&.active {
			color: $orange;
		}
	}
	// .review__quote
	&__quote {
		margin-top: 1.13rem;
		color: $text-80;
		font-size: 0.875rem;
		line-height: 135%;
	}
	// .review__author
	&__author {
		margin-top: 1.25rem;
		display: flex;
		align-items: center;
		gap: 0.75rem;
	}
	// .review__author-thumb
	&__author-thumb {
		width: 2.25rem;
		height: 2.25rem;
		flex-shrink: 0;
		& img {
			border-radius: 50%;
		}
	}
	// .review__author-main
	&__author-main {
	}
	// .review__author-name
	&__author-name {
		font-size: 1rem;
		font-weight: 500;
		line-height: 135%;
	}
	// .review__author-type
	&__author-type {
		color: $text-60;
		font-size: 0.875rem;
		line-height: 135%;
	}
}

.media {
	// .media__title
	&__title {
	}
	// .media__items
	&__items {
		margin-top: 1.5rem;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: rem(20);
		@media (min-width: $md4) {
			gap: 0.69rem;
			grid-template-columns: repeat(6, 1fr);
		}
	}
	// .media__item
	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		height: 4.25rem;
		padding: 0.88rem 0;
		@media (min-width: $md4) {
			height: 5.25rem;
		}
		& img {
			max-height: 100%;
		}
	}
}

.blog {
	display: flex;
	flex-direction: column;
	// .blog__header
	&__header {
		display: contents;
		@media (min-width: $md5) {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
	// .blog__title
	&__title {
	}
	// .blog__controls
	&__controls {
		order: 1;
		display: flex;
		justify-content: center;
		gap: rem(10);
		margin-top: rem(12);
		@media (min-width: $md5) {
			margin-top: 0;
		}
	}
	// .blog__prev
	&__prev {
	}
	// .blog__next
	&__next {
	}
	// .blog__slider
	&__slider {
		min-width: 0;
		max-width: 100%;
		margin-top: rem(20);
		@media (min-width: $md5) {
			margin-top: rem(29);
		}
	}
	// .blog__slide
	&__slide {
		border-radius: 1rem;
		border: rem(1) solid $text-5;
		background: $white;
		display: flex;
		flex-direction: column;
		transition: background-color 0.3s ease;
		padding: rem(20) 1rem;
		@media (min-width: $md5) {
			padding: 0.75rem;
		}
		@media (any-hover: hover) {
			&:hover {
				background: #ebf4fa;
			}
		}
	}
	// .blog__slide-image
	&__slide-image {
		position: relative;
		height: 0;
		padding-bottom: 52%;
		@media (min-width: $md5) {
			padding-bottom: 75%;
		}
		& img {
			position: absolute;
			top: 0;
			left: 0;
			border-radius: 0.75rem;
		}
	}
	// .blog__slide-name
	&__slide-name {
		color: $accent;
		font-size: 1.125rem;
		font-weight: 500;
		line-height: 125%;
		margin-top: rem(12);
		@media (min-width: $md5) {
			margin-top: 1rem;
		}
	}
	// .blog__slide-desc
	&__slide-desc {
		margin-top: 0.5rem;
		color: $text-60;
		font-size: 0.75rem;
		line-height: 135%;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	// .blog__slide-footer
	&__slide-footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: rem(14);
		@media (min-width: $md5) {
			margin-top: 1rem;
		}
	}
	// .blog__slide-company
	&__slide-company {
		& img {
			height: 2rem;
			width: auto;
		}
	}
	// .blog__slide-btn
	&__slide-btn {
	}
}
