@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-SemiBold.woff") format("woff"), url("../fonts/Roboto-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
[class^=icon-]:before,
[class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: never;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=icon-]:before,
[class*=" icon-"]:before {
  display: block;
}

.icon-check:before {
  content: "\e900";
}

.icon-check-circle:before {
  content: "\e901";
}

.icon-chevron-left:before {
  content: "\e902";
}

.icon-chevron-right:before {
  content: "\e903";
}

.icon-consult:before {
  content: "\e904";
}

.icon-contacts:before {
  content: "\e905";
}

.icon-docs:before {
  content: "\e906";
}

.icon-email:before {
  content: "\e907";
}

.icon-globe:before {
  content: "\e908";
}

.icon-heart:before {
  content: "\e909";
}

.icon-heart-fill:before {
  content: "\e90a";
}

.icon-info:before {
  content: "\e90b";
}

.icon-instagram:before {
  content: "\e90c";
}

.icon-medic:before {
  content: "\e90d";
}

.icon-medicine:before {
  content: "\e90e";
}

.icon-payment:before {
  content: "\e90f";
}

.icon-phone:before {
  content: "\e910";
}

.icon-search:before {
  content: "\e911";
}

.icon-send:before {
  content: "\e912";
}

.icon-star:before {
  content: "\e913";
}

.icon-user:before {
  content: "\e914";
}

html {
  scrollbar-gutter: stable;
}

body {
  font-family: "PTSans", sans-serif;
  font-size: 1rem;
  min-width: 375px;
  min-height: 100%;
  line-height: normal;
  color: #393939;
}
body:has(.header.open-menu) {
  overflow: hidden;
}
body:has(.header.open-menu) .wrapper::before {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
@media (min-width: 767.98px) {
  .wrapper {
    overflow-x: clip;
  }
}
.wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(115, 115, 115, 0.6);
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  cursor: pointer;
}

[class*=__container] {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 1.25rem;
}
@media (min-width: 575.98px) {
  [class*=__container] {
    box-sizing: content-box;
    max-width: 33.75rem;
  }
}
@media (min-width: 767.98px) {
  [class*=__container] {
    max-width: 44rem;
  }
}
@media (min-width: 991.98px) {
  [class*=__container] {
    max-width: 60rem;
  }
}
@media (min-width: 1199.98px) {
  [class*=__container] {
    max-width: 74.75rem;
  }
}

.form__title {
  line-height: 1;
  margin-bottom: 0.25rem;
}
.form__input {
  text-overflow: ellipsis;
  transition: border-color 0.3s ease 0s, color 0.3s ease 0s;
  width: 100%;
  border-radius: 0.375rem;
  background: #fff;
  border: 0.0625rem solid #fff;
  color: #000;
  line-height: 100%;
  font-size: 1rem;
  padding: 0.875rem 0.63rem;
}
@media (min-width: 1199.98px) {
  .form__input {
    font-size: 1.125rem;
  }
}
.form__input::placeholder {
  opacity: 1;
  color: #737373;
}
.form__input:hover, .form__input:focus {
  border-color: #fa5300;
}
.form__input:disabled {
  background: #ddd;
  border-color: #ddd;
}
.form__input._error {
  outline: 1px solid #ba2028;
  background: #fff1ed;
}
.form__textarea {
  height: 4.875rem;
  resize: none;
  text-overflow: ellipsis;
  transition: border-color 0.3s ease 0s, color 0.3s ease 0s;
  width: 100%;
  background: #fff;
  padding: 0 0 0.94rem 0;
  border: 0;
  border-bottom: 0.0625rem solid #d7d7d7;
  color: #393939;
  font-size: 1rem;
  line-height: 150%;
}
@media (min-width: 1199.98px) {
  .form__textarea {
    font-size: 1.125rem;
  }
}
.form__textarea::placeholder {
  opacity: 1;
  color: rgba(43, 50, 57, 0.3);
}
.form__textarea:hover, .form__textarea:focus {
  border-color: #393939;
}
.form__textarea:disabled {
  background: #ddd;
  border-color: #ddd;
}
.form__textarea._error {
  outline: 1px solid #ba2028;
  background: #fff1ed;
}
.form__footer {
  margin-top: 0.65rem;
  display: flex;
  align-items: center;
  width: 100%;
}
.form__footer .btn {
  margin: 0 auto 0 auto;
}
.form__tooltip {
  color: #737373;
  font-size: 1.375rem;
  margin-left: -1.375rem;
  transition: color 0.3s ease;
}
@media (any-hover: hover) {
  .form__tooltip:hover {
    color: #fa5300;
  }
}
.form__file-btn {
  font-size: 1.625rem;
  color: #bdbdbd;
  cursor: pointer;
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .form__file-btn:hover {
    color: #fa5300;
  }
}

.btn {
  position: relative;
  z-index: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  user-select: none;
  transition: all 0.3s ease 0s;
  padding: 0.875rem 2.0625rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}
.btn::before {
  order: 1;
}
.btn.btn-primary {
  border: 2px solid #393939;
  color: #393939;
}
.btn.btn-primary:hover {
  background: #393939;
  color: #fff;
}
.btn.btn-primary:active {
  background: #202020;
  color: #fff;
}
.btn.btn-secondary {
  background: #fa5300;
  color: #fff;
}
.btn.btn-secondary:hover {
  background: #e44c00;
}
.btn.btn-secondary:active {
  background: #b13b00;
}
.btn.btn-white {
  border: 2px solid #fff;
  color: #fff;
}
.btn.btn-white:hover {
  background: #393939;
}
.btn.btn-white:active {
  background: #202020;
}
.btn.btn-blue {
  background: #38b6ff;
  color: #fff;
}
.btn.btn-blue:hover {
  background: #1ca2ef;
}
.btn.btn-blue:active {
  background: #0e85ca;
}
.btn.btn-fullwidth {
  width: 100%;
}
.btn.btn-sm {
  padding: 0.3125rem 2.125rem;
}
.btn.btn-md {
  padding: 0.75rem 1.6875rem;
}
@media (min-width: 575.98px) {
  .btn.btn-md {
    padding: 0.5625rem 1.6875rem;
  }
}
.btn.btn-lg {
  font-size: 1.25rem;
  border-radius: 0.5rem;
  padding: 1.2rem 2.65rem;
}
.btn:disabled, .btn[aria-disabled=true] {
  cursor: default;
  opacity: 0.7;
  pointer-events: none;
}

.switcher__input:checked + .switcher__btn {
  background: #81a6ca;
}
.switcher__input:checked + .switcher__btn::before {
  left: 0.125rem;
}
.switcher__btn {
  position: relative;
  width: 2.1875rem;
  height: 1.25rem;
  border-radius: 6.25rem;
  background: #81a6ca;
  display: block;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}
.switcher__btn::before {
  content: "";
  position: absolute;
  top: 0.125rem;
  left: 1.0625rem;
  width: 1rem;
  transition: left 0.3s ease 0s;
  border-radius: 50%;
  background: #fff;
  height: calc(100% - 0.25rem);
}

.footer {
  background: #303030;
  color: #a1a1a1;
  padding: 1.5625rem 0;
}
@media (min-width: 575.98px) {
  .footer {
    padding: 2.5rem 0;
  }
}
@media (max-width: 575.98px) {
  .footer__header {
    margin: 0;
    padding: 0;
  }
}
@media (max-width: 575.98px) {
  .footer__column {
    display: contents;
  }
}
.footer__home {
  font-size: 1.875rem;
  color: #fa5300;
  display: inline-block;
  transition: color 0.3s ease 0s;
  order: -1;
}
@media (min-width: 575.98px) {
  .footer__home {
    font-size: 2.25rem;
  }
}
@media (any-hover: hover) {
  .footer__home:hover {
    color: #c74200;
  }
}
.footer__menu {
  display: none;
}
@media (min-width: 575.98px) {
  .footer__menu {
    display: block;
    margin-top: 0.63rem;
    font-size: 0.875rem;
    line-height: 120%;
  }
}
@media (min-width: 1199.98px) {
  .footer__menu {
    font-size: 1rem;
  }
}
.footer__menu li:not(:last-child) {
  margin-bottom: 0.5em;
}
.footer__menu li a {
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .footer__menu li a:hover {
    color: #fff;
  }
}
.footer__caption {
  display: inline-block;
  transition: color 0.3s ease 0s;
}
@media (min-width: 575.98px) {
  .footer__caption:not(:first-child) {
    margin-top: 2.75rem;
  }
  .footer__caption:not(:first-child).offset-lg {
    margin-top: 5rem;
  }
}
@media (max-width: 575.98px) {
  .footer__caption {
    margin-top: 1.25rem;
    text-transform: uppercase;
    width: 100%;
    order: -1;
  }
}
@media (any-hover: hover) {
  .footer__caption:hover {
    color: #fff;
  }
}
.footer__vacanies {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "BebasNeue";
  max-width: 5.20463rem;
  font-size: 1.59775rem;
  margin-left: auto;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  transition: color 0.3s ease 0s;
}
@media (min-width: 575.98px) {
  .footer__vacanies {
    max-width: 10.08125rem;
    font-size: 2.5rem;
    margin-top: 7.5rem;
  }
}
@media (min-width: 1199.98px) {
  .footer__vacanies {
    margin-top: 5.61rem;
    font-size: 3.125rem;
  }
}
@media (any-hover: hover) {
  .footer__vacanies:hover {
    color: #fff;
  }
}
.footer__bottom {
  margin-top: 1.5rem;
  border-top: 0.0625rem solid #555;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 0 0 0;
}
@media (min-width: 1199.98px) {
  .footer__bottom {
    margin-top: 1rem;
  }
}
.footer__copy {
  font-size: 0.75rem;
  max-width: 9.875rem;
}
@media (min-width: 575.98px) {
  .footer__copy {
    font-size: 1rem;
    max-width: 100%;
  }
}
.footer__logo {
  max-width: 7.11581rem;
}
@media (min-width: 575.98px) {
  .footer__logo {
    max-width: 100%;
  }
}
.footer__contacts {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer__link {
  font-family: "BebasNeue";
  line-height: 120%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  transition: color 0.3s ease 0s;
  font-size: 1.25rem;
}
.footer__link::before {
  width: 1.375rem;
  height: 1.375rem;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__link.icon-phone::before {
  font-size: 1rem;
}
@media (min-width: 767.98px) {
  .footer__link {
    font-size: 1.5rem;
  }
}
@media (any-hover: hover) {
  .footer__link:hover {
    color: #fff;
  }
}
.footer__socials {
  display: flex;
  gap: 0.75rem;
}
.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background: #a1a1a1;
  color: #fff;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}
.footer__social.icon-vk {
  font-size: 0.875rem;
}
@media (any-hover: hover) {
  .footer__social.icon-vk:hover {
    background-color: #07f;
  }
}
@media (any-hover: hover) {
  .footer__social.icon-telegram:hover {
    background-color: #0088cc;
  }
}

.page {
  flex: 1 1 auto;
}