body {
	font-family: $fontfamily, sans-serif;
	font-size: 1rem;
	min-width: rem($minWidth);
	min-height: 100%;
	line-height: normal;
	color: $text;
	background-color: $white-bg;
	&:has(.open-menu) {
		overflow: hidden;
	}
}

// ================== ОБОЛОЧКА ==============================

.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

// ================== ОБОЛОЧКА ===============================

// ================== LAYOUT =================================

[class*="__container"] {
	margin: 0 auto;
	max-width: 100%;
	padding: 0 rem(20);
	@media (min-width: $md5) {
		max-width: rem(540);
	}
	@media (min-width: $md4) {
		max-width: rem(704);
	}
	@media (min-width: $md3) {
		max-width: rem(960);
	}
	@media (min-width: $md2) {
		max-width: $maxWidthContainer;
	}
}

//=============== LAYOUT ===============================

.page {
	padding: 2rem 0 4.5rem;
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	&__container {
		width: 100%;
		display: flex;
		gap: 2.5rem;
		flex: 1 1 auto;
	}
}

.main {
	flex: 1 1 auto;
	min-width: 0;
	max-width: 100%;
	& > section {
		&:not(:first-child) {
			padding-top: rem(36);
		}
		&:not(:last-child) {
			padding-bottom: rem(36);
		}
	}
}

.menu {
	flex: 0 0 12.8125rem;
	// .menu__list
	&__list {
	}
	// .menu__item
	&__item {
		&:not(:last-child) {
			margin-bottom: 0.25rem;
		}
	}
	// .menu__link
	&__link {
		font-size: 1.125rem;
		font-weight: 500;
		line-height: 100%;
		display: flex;
		align-items: center;
		gap: 0.5rem;
		transition: background-color 0.3s ease, color 0.3s ease;
		padding: rem(12) rem(10);
		border-radius: 0.75rem;
		&::before {
			font-size: 1.5rem;
		}
		&:hover {
			background: $white;
		}
		&:active,
		&.active {
			background: $grey;
			color: $white;
		}
	}
	// .menu__doctors
	&__doctors {
		margin-top: 3.25rem;
	}
	// .menu__doctors-title
	&__doctors-title {
		font-size: 1.5rem;
		font-weight: 600;
		line-height: 125%;
	}
	// .menu__doctors-list
	&__doctors-list {
		margin-top: 1rem;
		font-size: 1rem;
		line-height: 138.5%;
	}
	// .menu__doctors-item
	&__doctors-item {
		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}
	// .menu__doctors-link
	&__doctors-link {
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
}

.sidebar {
	flex: 0 0 12.8125rem;
	// .sidebar__block
	&__block {
	}
	// .sidebar__title
	&__title {
		font-size: 1.375rem;
		font-weight: 600;
		line-height: 125%;
	}
	// .sidebar__doctors
	&__doctors {
		margin-top: 1.12rem;
	}
}

.doctor-card {
	border-radius: 0.75rem;
	border: rem(1) solid $text-5;
	background: $white;
	display: flex;
	flex-direction: column;
	padding: 0.75rem;
	transition: background-color 0.3s ease;
	position: relative;
	z-index: 1;
	@media (any-hover: hover) {
		&:hover {
			background: #ebf4fa;
			z-index: 2;
		}
	}
	&:not(:last-child) {
		margin-bottom: rem(12);
	}
	// .doctor-card__header
	&__header {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	// .doctor-card__image
	&__image {
		width: 6.875rem;
		height: 6.875rem;
		flex-shrink: 0;
		& img {
			border-radius: 50%;
		}
	}
	// .doctor-card__status
	&__status {
		position: absolute;
		top: 0;
		right: 0;
		width: 0.625rem;
		height: 0.625rem;
		border-radius: 50%;
		background: $grey;
		&.online {
			background: $green;
		}
	}
	// .doctor-card__rate
	&__rate {
		position: absolute;
		bottom: 0;
		right: 0;
	}
	// .doctor-card__name
	&__name {
		margin-top: rem(10);
		font-size: 1rem;
		font-weight: 500;
		line-height: 135%;
	}
	// .doctor-card__row
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 0.8125rem;
		line-height: 135%;
	}
	// .doctor-card__experience
	&__experience {
	}
	// .doctor-card__experience-title
	&__experience-title {
	}
	// .doctor-card__experience-value
	&__experience-value {
		color: $text-60;
	}
	// .doctor-card__education
	&__education {
		position: relative;
	}
	// .doctor-card__education-btn
	&__education-btn {
		text-decoration: underline;
		text-decoration-style: dashed;
		text-decoration-thickness: 0.05em;
		text-underline-offset: rem(2);
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
				& + .doctor-card__education-tooltip {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	// .doctor-card__education-tooltip
	&__education-tooltip {
		position: absolute;
		top: 100%;
		right: 0;
		min-width: rem(180);
		background: $white;
		padding: rem(10) rem(12);
		color: $text-80;
		font-size: 0.75rem;
		line-height: 135%;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s ease, visibility 0.3s ease;
	}

	// .doctor-card__direction
	&__direction {
		font-size: 0.875rem;
		font-weight: 500;
		line-height: 135%;
	}
}

.doctor {
	border-radius: 1rem;
	border: rem(1) solid $text-5;
	background: $white;
	display: flex;
	gap: 2.5rem;
	padding: 1.25rem 1.25rem 1.25rem 2.5rem;
	&:not(:last-child) {
		margin-bottom: rem(13);
	}
	// .doctor__side
	&__side {
		flex: 0 0 11.5rem;
		position: relative;
		.favorite-btn {
			position: absolute;
			top: 0;
			right: 0;
		}
	}
	// .doctor__image
	&__image {
		width: 100%;
		display: block;
		& img {
			border-radius: 50%;
		}
	}
	// .doctor__status
	&__status {
		margin-top: 0.75rem;
		color: $grey;
		font-size: 0.75rem;
		font-weight: 500;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.25rem;
		&::before {
			content: "";
			width: 0.5rem;
			height: 0.5rem;
			background-color: currentColor;
			border-radius: 50%;
		}
		&.online {
			color: $green;
		}
	}
	// .doctor__body
	&__body {
		flex: 1 1 auto;
	}
	// .doctor__header
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .doctor__name
	&__name {
		font-size: 1.25rem;
		font-weight: 500;
		line-height: 125%;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
	// .doctor__reviews
	&__reviews {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		.rate-label {
			font-size: 1rem;
			padding: rem(6) rem(10);
		}
	}
	// .doctor__reviews-link
	&__reviews-link {
		color: $text-60;
		font-size: 0.875rem;
		font-weight: 500;
		line-height: 135%;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
	// .doctor__info
	&__info {
		margin-top: 0.5rem;
	}
	// .doctor__info-item
	&__info-item {
		font-size: 0.875rem;
		line-height: 135%;
		&:not(:last-child) {
			margin-bottom: 0.5rem;
		}
	}
	// .doctor__info-property
	&__info-property {
	}
	// .doctor__info-value
	&__info-value {
		color: $text-60;
	}
	// .doctor__position
	&__position {
		margin-top: 0.5rem;
		font-size: 1rem;
		font-weight: 500;
		line-height: 135%;
		& a {
			transition: color 0.3s ease;
			@media (any-hover: hover) {
				&:hover {
					color: $accent;
				}
			}
		}
	}
	// .doctor__bottom
	&__bottom {
		margin-top: 1.25rem;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 0.75rem;
	}
	// .doctor__btn
	&__btn {
	}
}

.faq {
	padding: 2.5rem 0;
	// .faq__title
	&__title {
	}
	// .faq__list
	&__list {
		margin-top: 1.5rem;
	}
	// .faq__item
	&__item {
		border-radius: 0.75rem;
		border: rem(1) solid $text-5;
		background: $white;
		padding: 1rem;
		transition: background-color 0.3s ease;
		cursor: pointer;
		&.active {
			background: $pink;
			.faq__item-caption {
				&::before {
					transform: rotate(90deg);
				}
			}
		}
		&:not(:last-child) {
			margin-bottom: 0.63rem;
		}
	}
	// .faq__item-caption
	&__item-caption {
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: left;
		gap: 1rem;
		font-size: 1.125rem;
		font-weight: 500;
		line-height: 122.5%;
		width: 100%;
		&::before {
			order: 1;
			transition: transform 0.3s ease;
		}
	}
	// .faq__item-answer
	&__item-answer {
		display: none;
		margin-top: rem(13);
		color: $text-60;
		font-size: 0.875rem;
		line-height: 135%;
		max-width: 38rem;
	}
}
