.footer {
	background: $black;
	color: $white;
	padding: 4rem 0 0;
	// .footer__container
	&__container {
		max-width: rem(1240);
	}
	// .footer__body
	&__body {
		display: flex;
		justify-content: space-between;
		gap: 1rem;
	}
	// .footer__main
	&__main {
	}
	// .footer__logo
	&__logo {
	}
	// .footer__menu
	&__menu {
		font-size: 1rem;
		font-weight: 500;
		line-height: 135%;
		& ul li {
			&:not(:last-child) {
				margin-bottom: rem(10);
			}
			& a {
				@media (any-hover: hover) {
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
	// .footer__contacts
	&__contacts {
	}
	// .footer__caption
	&__caption {
		font-size: 1.25rem;
		font-weight: 500;
		line-height: 125%;
	}
	// .footer__contacts-list
	&__contacts-list {
		margin-top: 1rem;
	}
	// .footer__contacts-item
	&__contacts-item {
		&:not(:last-child) {
			margin-bottom: 0.75rem;
		}
	}
	// .footer__contacts-link
	&__contacts-link {
		display: flex;
		align-items: center;
		color: rgba(255, 255, 255, 0.8);
		font-size: 1rem;
		line-height: 135%;
		gap: rem(10);
		&::before {
			font-size: 1.5rem;
		}
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $white;
			}
		}
	}
	// .footer__socials
	&__socials {
		margin-top: 1.5rem;
		font-size: 1.5rem;
		display: flex;
		gap: 0.37rem;
	}
	// .footer__social
	&__social {
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: #fa7a93;
			}
		}
	}
	// .footer__side
	&__side {
		max-width: 20.4375rem;
	}
	// .footer__text
	&__text {
		margin-top: 0.5rem;
		color: $white-43;
		font-size: 0.75rem;
		line-height: 135%;
	}
	// .footer__form
	&__form {
		margin-top: 0.75rem;
		display: flex;
		gap: 0.5rem;
	}
	// .footer__form-btn
	&__form-btn {
		border-radius: 0.75rem;
		padding: rem(10);
		font-size: 1.5rem;
		aspect-ratio: 1;
		min-height: 0;
	}
	// .footer__bottom
	&__bottom {
		margin-top: 2.87rem;
		display: flex;
		padding: 1.5rem 0 1.75rem 0;
		font-size: 0.875rem;
		font-weight: 300;
		line-height: 100%;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 50%;
			width: 100vw;
			transform: translateX(-50%);
			height: rem(1);
			background: $white-10;
		}
	}
	// .footer__policies
	&__policies {
		display: flex;
		gap: 1.75rem;
	}
	// .footer__policy
	&__policy {
	}
	// .footer__copy
	&__copy {
		margin-left: auto;
	}
}
