.form {
	// .form__fields
	&__fields {
		display: flex;
		flex-direction: column;
		gap: 1.19rem;
	}
	&__grid {
		display: grid;
		gap: 0.75rem;
		row-gap: 1.19rem;
		@media (min-width: $md5) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	// .form__field
	&__field {
	}
	// .form__label
	&__label {
		font-size: 0.75rem;
		line-height: 135%;
		margin-bottom: 0.25rem;
	}
	// .form__control
	&__control {
		text-overflow: ellipsis;
		transition: border-color 0.3s ease 0s, color 0.3s ease 0s;
		width: 100%;
		border: rem(1) solid transparent;
		font-size: 0.875rem;
		line-height: 135%;
		border-radius: 0.75rem;
		padding: 0.69rem 1.12rem;
		background: $text-5;

		&.form__control-white {
			background: rgba(255, 255, 255, 0.15);
			color: $white;
			&:hover,
			&:focus {
				border-color: $white;
			}
		}
		&::placeholder {
			opacity: 0.7;
			color: currentColor;
		}
		&:hover,
		&:focus {
			border-color: $accent;
		}
		&:disabled {
			background: #ddd;
			border-color: #ddd;
		}
		&._error {
			outline: 1px solid #ba2028;
			background: #fff1ed;
		}
		&:is(textarea) {
			height: rem(83);
			resize: none;
		}
	}
	&__btn {
		margin-top: 1.69rem;
	}
	&__forgot {
		align-self: center;
		color: $accent;
		font-size: 1rem;
		line-height: 135%;
		text-decoration: underline;
		margin-top: 1rem;
		@media (min-width: $md5) {
			margin-top: 1.25rem;
		}
		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
			}
		}
	}
	// .form__textarea
	// &__textarea {
	// 	height: rem(78);
	// 	resize: none;
	// 	text-overflow: ellipsis;
	// 	transition: border-color 0.3s ease 0s, color 0.3s ease 0s;
	// 	width: 100%;
	// 	background: #fff;
	// 	padding: 0 0 0.94rem 0;
	// 	border: 0;
	// 	border-bottom: rem(1) solid #d7d7d7;
	// 	color: $text;
	// 	font-size: 1rem;
	// 	@media (min-width: $md2) {
	// 		font-size: 1.125rem;
	// 	}
	// 	line-height: 150%;
	// 	&::placeholder {
	// 		opacity: 1;
	// 		color: rgba(43, 50, 57, 0.3);
	// 	}
	// 	&:hover,
	// 	&:focus {
	// 		border-color: $text;
	// 	}
	// 	&:disabled {
	// 		background: #ddd;
	// 		border-color: #ddd;
	// 	}
	// 	&._error {
	// 		outline: 1px solid #ba2028;
	// 		background: #fff1ed;
	// 	}
	// }
	// .form__checkbox
	&__checkbox {
		margin-top: 1.25rem;
		display: block;
	}
	// .form__checkbox-input
	&__checkbox-input {
		&:checked {
			& + .form__checkbox-text {
				&::before {
					@extend %ic, .icon-check-alternate;
					background: $accent;
					border-color: $accent;
				}
			}
		}
		&.error {
			& + .form__checkbox-text {
				&::before {
					border: rem(1) solid red;
				}
			}
		}
	}
	// .form__checkbox-text
	&__checkbox-text {
		position: relative;
		display: block;
		width: fit-content;
		color: $text-60;
		font-size: 0.875rem;
		line-height: 135%;
		font-weight: 500;
		padding: 0 0 0 2rem;
		max-width: rem(340);
		cursor: pointer;
		user-select: none;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			border: rem(1) solid $text-10;
			color: $white;
			width: 1.5rem;
			height: 1.5rem;
			font-size: 1.125rem;
			border-radius: 0.375rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		& a {
			text-decoration: underline;
			@media (any-hover: hover) {
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	// .form__hint
	&__hint {
		margin-top: 0.25rem;
		color: $text-40;
		font-size: 0.75rem;
		line-height: 135%;
	}
	&__row {
		margin-top: 0.69rem;
		display: flex;
		flex-direction: column;
		gap: 1.56rem;
		@media (min-width: $md5) {
			justify-content: space-between;
			flex-direction: row;
		}
		& > .form__hint {
			margin-top: 0;
		}
	}
	&__info {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	&__side {
		display: flex;
		flex-direction: column;
		@media (min-width: $md5) {
			align-items: flex-end;
		}
	}
	// .form__file
	&__file {
	}
	// .form__file-input
	&__file-input {
	}
	// .form__file-btn
	&__file-btn {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		cursor: pointer;
		font-size: 1rem;
		font-weight: 500;
		line-height: 135%;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
	// .form__attachment
	&__attachment {
		margin-top: 1rem;
		display: grid;
		gap: 0.75rem;
		grid-template-columns: repeat(2, 1fr);
		gap: 0.44rem;
		@media (min-width: $md5) {
			gap: 0.75rem;
			grid-template-columns: repeat(auto-fill, minmax(rem(196), 1fr));
		}
	}
	// .form__attachment-item
	&__attachment-item {
		display: flex;
		flex-direction: column;
		position: relative;
		border-radius: 0.75rem;
		overflow: hidden;
		border: 1px solid $text-5;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
		}
	}
	// .form__attachment-remove
	&__attachment-remove {
		position: absolute;
		top: 0.63rem;
		right: 0.63rem;
		z-index: 2;
		display: flex;
		width: 1.75rem;
		height: 1.75rem;
		padding: 0.25rem;
		border-radius: 0.25rem;
		border: rem(1) solid $text-5;
		font-size: 1.25rem;
		justify-content: center;
		align-items: center;
		background: #fff;
		flex-shrink: 0;
		color: #a81d28;
	}
}

.btn {
	position: relative;
	z-index: 1;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	user-select: none;
	transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
	border-radius: 0.75rem;
	font-size: 1rem;
	font-weight: 500;
	line-height: 135%;
	padding: 0.56rem 1.7rem;
	min-height: rem(44);
	@media (min-width: $md3) {
		padding: 0.8rem 2.9rem;
		min-height: rem(52);
	}
	&::before {
		order: 1;
	}
	&.btn-primary {
		background: $accent;
		color: $white;
		&:hover {
			background: $accent-dark;
		}
		&:active {
			background: $accent-light;
		}
	}
	&.btn-pink {
		background: #fa7a93;
		color: $white;
		&:hover {
			background: #ff6b89;
		}
		&:active {
			background: #ff95aa;
		}
	}
	&.btn-white {
		background: $white;
		color: $text;
		&:hover {
			background: $white-bg;
		}
		&:active {
			background: $pink;
		}
	}
	&.btn-sm {
		padding: 0.44rem 1rem;
		border-radius: 0.5rem;
		min-height: rem(36);
	}
	&.btn-fullwidth {
		width: 100%;
		padding-inline: 1rem;
	}

	&:disabled,
	&[aria-disabled="true"] {
		cursor: default;
		opacity: 0.7;
		pointer-events: none;
	}
}

.switcher {
	// .switcher__input
	&__input {
		&:checked {
			& + .switcher__btn {
				&::before {
					left: rem(2);
				}
				background: #81a6ca;
			}
		}
	}
	// .switcher__btn
	&__btn {
		position: relative;
		width: rem(35);
		height: rem(20);
		border-radius: 6.25rem;
		background: #81a6ca;
		display: block;
		cursor: pointer;
		transition: background-color 0.3s ease 0s;
		&::before {
			content: "";
			position: absolute;
			top: rem(2);
			left: rem(17);
			width: rem(16);
			transition: left 0.3s ease 0s;
			border-radius: 50%;
			background: $white;
			height: calc(100% - rem(4));
		}
	}
}
