.banner {
	height: 12.5rem;
	overflow: hidden;
	& img {
		width: 100%;
	}
}
.header {
	background: $pink;
	padding: rem(10) 0;
	// .header__container
	&__container {
		display: flex;
		align-items: center;
	}
	// .header__logo
	&__logo {
		margin-right: auto;
	}
	// .header__language
	&__language {
		font-size: 1rem;
		font-weight: 500;
		line-height: 135%;
		gap: 0.38rem;
		text-transform: uppercase;
		display: flex;
		align-items: center;
		margin-right: 1rem;
		&::before {
			font-size: 1.5rem;
		}
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
	// .header__search
	&__search {
		margin-right: 1rem;
		display: flex;
		width: 100%;
		max-width: rem(48);
		align-self: stretch;
		transition: max-width 0.3s ease;
		&.active {
			max-width: rem(343);
			.header__search-toggler {
				display: none;
			}
			.header__search-field {
				display: block;
			}
		}
	}

	// .header__search-toggler
	&__search-toggler {
		width: rem(48);
		height: rem(48);
		border-radius: 0.75rem;
		display: flex;
		justify-content: center;
		align-items: center;
		background: $white-43;
		transition: background-color 0.3s ease;
		font-size: 1.5rem;
		@media (any-hover: hover) {
			&:hover {
				background-color: $white;
			}
		}
	}
	// .header__search-field
	&__search-field {
		position: relative;
		width: 100%;
		min-height: 100%;
		display: none;

		.form__control {
			font-size: 1rem;
			padding-left: rem(42);
			width: 100%;
			min-height: 100%;
		}
	}
	// .header__search-submit
	&__search-submit {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: rem(12);
		font-size: rem(24);
	}
	// .header__actions
	&__actions {
		display: flex;
		gap: 1rem;
	}
	// .header__btn
	&__btn {
		min-width: rem(183);
		min-height: rem(48);
	}
}
