%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	speak: never;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"],
[class*=" icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}
.icon-down:before {
	content: "\e91e";
}
.icon-bell:before {
	content: "\e91d";
}
.icon-play-circle:before {
	content: "\e91a";
}
.icon-trash:before {
	content: "\e91c";
}
.icon-plus:before {
	content: "\e91b";
}
.icon-check-alternate:before {
	content: "\e918";
}
.icon-close:before {
	content: "\e917";
}
.icon-copy:before {
	content: "\e91e";
}
.icon-eye:before {
	content: "\e91d";
}
.icon-share:before {
	content: "\e919";
}
.icon-lock:before {
	content: "\e915";
}
.icon-clock:before {
	content: "\e916";
}
.icon-check:before {
	content: "\e900";
}
.icon-check-circle:before {
	content: "\e901";
}
.icon-chevron-left:before {
	content: "\e902";
}
.icon-chevron-right:before {
	content: "\e903";
}
.icon-consult:before {
	content: "\e904";
}
.icon-contacts:before {
	content: "\e905";
}
.icon-docs:before {
	content: "\e906";
}
.icon-email:before {
	content: "\e907";
}
.icon-globe:before {
	content: "\e908";
}
.icon-heart:before {
	content: "\e909";
}
.icon-heart-fill:before {
	content: "\e90a";
}
.icon-info:before {
	content: "\e90b";
}
.icon-instagram:before {
	content: "\e90c";
}
.icon-medic:before {
	content: "\e90d";
}
.icon-medicine:before {
	content: "\e90e";
}
.icon-payment:before {
	content: "\e90f";
}
.icon-phone:before {
	content: "\e910";
}
.icon-search:before {
	content: "\e911";
}
.icon-send:before {
	content: "\e912";
}
.icon-star:before {
	content: "\e913";
}
.icon-user:before {
	content: "\e914";
}
