// Использование модулей SASS
@use "sass:math";
// Использование модулей SASS
// ======================================МИКСИНЫ==============================================
@import "mixins";
// ======================================МИКСИНЫ==============================================

// ======================================ШРИФТЫ===============================================
@import "fonts";
@import "icons";
// ======================================ШРИФТЫ===============================================

// Шрифт по умолчанию
$fontfamily: "Roboto";
// Шрифт по умолчанию

$md1: 1399.98px;
$md2: 1199.98px;
$md3: 991.98px;
$md4: 767.98px;
$md5: 575.98px;
$md6: 389.98px;

// ПЕРЕМЕННЫЕ

$minWidth: 320; // Минимальная ширина страницы
$maxWidth: 1920; // Ширина макета
$maxWidthContainer: rem(1312); // Максимальная ширина ограничивающего контейнера
$containerPadding: 30;

// ЦВЕТА

$white: #fff;
$white-10: rgba(
	$color: $white,
	$alpha: 0.1,
);
$white-43: rgba(
	$color: $white,
	$alpha: 0.43,
);
$white-bg: #f5f5f5;
$text: #212121;
$text-80: rgba(
	$color: $text,
	$alpha: 0.8,
);
$text-60: rgba(
	$color: $text,
	$alpha: 0.6,
);
$text-10: rgba(
	$color: $text,
	$alpha: 0.1,
);
$text-5: rgba(
	$color: $text,
	$alpha: 0.05,
);
$black: #232323;
$grey: #5b5b5b;
$pink: #ffe6eb;
$orange: #ffa600;
$green: #15b000;

$accent: #328ecc;
$accent-10: rgba(
	$color: $accent,
	$alpha: 0.1,
);
$accent-40: rgba(
	$color: $accent,
	$alpha: 0.1,
);
$accent-dark: #197bbd;
$accent-light: #4a9bd1;
$red: #fa0644;

// Z-Index

$ui-index-1: 1; // Для наполняющих элементов в общем потоке
$ui-index-2: 2; // Для наполняющих элементов в общем потоке
$ui-index-3: 3; // Для масок
$ui-index-4: 4; // Для сайдбаров
$ui-index-5: 5; // Для модалок
$ui-index-6: 6; // Для элементов, перекрывающих все

// ОБЩИЕ ПАРАМЕТРЫ

@import "common";
@import "ui";
@import "forms";
@import "header";
@import "footer";

//=======================================

// СТИЛИ СТРАНИЦ

@import "pages/home";
@import "pages/support";
@import "pages/contacts";
@import "pages/payment";
